body {
  font-family: "Montserrat", sans-serif;
  margin: 0%;
  background-color: #e7e5e5;
}
/** Landing Page */
#navbar {
  overflow: hidden;
  background-color: transparent;
  padding: 40px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  height: 20px;
  top: 0;
  z-index: 99;
  left: -10px;
  margin: -10px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

#navbar a {
  padding: 12px;
  text-decoration: none;
  margin: 0px 10px 15px 10px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.6s;
  color: white;
  width: 50%;
  align-self: center;
}

#navbar-right a {
  color: #6f26c9;
  padding: 12px;
  text-align: center;
  border: 2px solid #6f26c9;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

#navbar-right a:hover {
  background-color: #6f26c9;
  color: white;
  transition: 0.8s ease-in;
}

.auth-btn {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 12px 15px;
  background: linear-gradient(270deg, #21d4fd, #b721ff);
  border-radius: 25px;
}

.auth-btn-side {
  text-decoration: none;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 5px 10px;
  transition: 0.5s ease-in;
}

.auth-btn-side:hover {
  background: white;
  color: #6f26c9;
}

#navbar-right {
  padding: 15px;
  transition: 0.6s;
  font-size: 18px;
  width: 25%;
  align-self: center;
  margin-left: 50%;
}

.main {
  min-height: calc(100vh - 70px);
}

.item-content-container {
  max-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content-container {
  height: 500px;
  width: 100%;
  padding-top: 100px;
  border-bottom-right-radius: 500px;
  flex-direction: row;
}

.content-container::before {
  box-shadow: 0 0 0 1000px #6f26c9;
  border-radius: 100%;
  position: absolute;
  height: 100px;
  left: -450px;
  width: 100px;
  z-index: -1;
  content: "";
}

.main-content {
  margin: 0 auto;
  width: 90%;
}

.tag-heading {
  color: white;
  margin-top: 100px;
  font-size: 50px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row .col.s5 {
  width: 41.6%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

.illustration {
  width: 550px;
  height: 550px;
  margin-left: 80px;
}

.description-img {
  width: 350px;
  height: 500px;
  margin-left: auto;
}

.bodyTxt {
  color: rgb(207, 206, 206);
  font-weight: 100;
}

.description-txt {
  font-size: 12px;
  margin-top: auto;
}

.center-text {
  text-align: center;
}

.section-head {
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px #464343;
  margin-top: 50px;
}

.action-area {
  margin-top: 100px;
  height: 45px !important;
  margin-bottom: 90px;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #6f26c9;
  bottom: 0;
  color: white;
  position: relative;
  float: left;
}

/** Sign Up & Login Page*/
.menu-nav {
  background-color: #6f26c9 !important;
  padding: 25px 15px !important;
}
.menu-nav a {
  margin-top: 20px !important;
}

.form-card {
  float: right;
  width: 399px;
  box-shadow: 1px 2px 5px 3px #d2cbcb;
  padding-bottom: 30px;
  background: white;
  margin-bottom: 100px;
}

.form-body {
  width: 100%;
  display: grid;
  justify-content: center;
}

.signup-login-text {
  color: #6f26c9;
  text-align: center;
  font-weight: bolder;
}

.input-field-button {
  margin: 10px 0px;
}

.sign-up-login-link {
  margin-left: 5px;
}

input[type="text"],
input[type="password"] {
  width: 369px;
  height: 35px;
  margin-bottom: 20px;
  border: none;
  background: #f1efef;
  padding-left: 10px;
  outline: none;
  border-radius: 15px;
}
input[type="submit"] {
  width: 150px;
  height: 40px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  background: rgb(94, 53, 177);
  border-radius: 25px;
}

input:focus {
  border: 1px solid blue;
}

.avatar-img {
  width: 50px;
  height: 50px;
}

.profile-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.profile-dropdown {
  display: none;
  width: auto;
  height: auto;
  background-color: white;
  position: fixed;
  margin-top: 58px;
  margin-left: 88%;
  padding: 10px 10px;
  box-shadow: 1px 2px 5px 3px #d2cbcb;
}

button.dropdown-trigger {
  background-color: transparent;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
}

button.dropdown-trigger:focus {
  outline: none;
}


.dropdown-item {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
}

.fa-chevron-down {
  align-self: center !important;
  padding-left: 10px;
}

.side-nav {
  float: left;
  left: 0;
  background-color: white;
  width: 15%;
  justify-content: center;
  margin-top: 60px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 5px 3px #d2cbcb;
}

.side-nav-content {
  align-self: center;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.label-lg {
  margin-top: 80px;
  margin-right: 750px;
  font-size: 20px;
}

.dashboard-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 3px solid purple;
}

.dash-nav-link {
  padding-right: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  color: rgb(0, 166, 221);
}

.side-link {
  font-size: 19px;
  margin-top: 20px;
  padding-right: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  color: rgb(0, 166, 221);
}

.shortcut-btns {
  margin-left: 17.5%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.shortcut-btns a{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px 10px;
  border-radius: 25px;
  box-shadow: 1px 2px 5px 3px #d2cbcb
}

shortcut-btns a:focus{
  outline: none;
}

.side-nav-greet {
  margin-top: -140px;
  font-size: 15px;
}

.side-nav-name {
  font-size: 30px;
  margin-top: -20px;
}

.main-dashboard {
  margin-left: 240px;
  display: flex;
  flex-direction: row;
}

.account-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  flex-flow: row wrap;
}

.account-stats-card {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 30%;
  border-radius: 15px;
  box-shadow: 1px 2px 5px 3px #d2cbcb;
}

.accnt-info-btn {
  text-decoration: none;
  background-color: #6f26c9;
  color: white;
  padding: 5px 5px;
  border-radius: 25px;
  font-size: 12px;
  margin-top: 200px;
}

.accnt-info-btn:hover {
    box-shadow: 1px 2px 5px 3px #d2cbcb;
}

.badge-active {
  font-size: 10px;
  float: right;
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 5px 5px;
  text-shadow: 2px 2px #464343;
}

.badge-inactive {
  font-size: 10px;
  float: right;
  background-color: red;
  color: white;
  border-radius: 15px;
  padding: 5px 5px;
  text-shadow: 2px 2px #464343;
  padding: 8px 8px;
}

.balance-text {
  font-size: 15px;
  margin-top: 50px;
}

.account-balance {
  font-weight: bolder;
  font-size: 25px;
  margin-top: -15px;
}

/** Add Account Page **/

.account-type {
  width: 200px;
  margin-left: 15px;
}

.accnt-create-btn {
  margin-top: 15px;
}

input.accnt-create-input {
  width: 90%;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 25px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .main-content {
    width: 85%;
  }

  .content-container {
    flex-direction: column;
  }

  .item-content-container {
    flex-direction: column;
    flex-flow: row wrap;
    overflow: auto;
  }

  .tag-heading {
    font-size: 35px;
  }

  #navbar a {
    color: #f1f0f3;
  }

  #navbar-right {
    font-size: 15px;
    margin-left: 10%;
  }

  .illustration {
    width: 300px;
    height: 300px;
    margin-left: auto;
  }

  .row .col.s5 {
    width: 80%;
  }

  .section-head {
    margin-top: 200px;
  }

  .footer {
    position: relative;
    bottom: 0;
    top: 0;
    z-index: 100;
  }

  input[type="text"],
  input[type="password"] {
    width: 80%;
  }

  .form-card {
    width: 310px;
    align-self: center;
  }

  .side-nav {
    display: none;
  }
  .label-lg {
    margin-right: 150px !important;
  }
  .account-stats {
    flex-direction: column;
    align-content: center;
  }
  .main-dashboard {
    margin-left: 20px;
  }
  .account-stats-card {
    width: 90%;
  }

  .shortcut-btns {
    margin-left: 10% !important;
  }

  .profile-dropdown {
    max-width: 100px;
    margin-left: 75%;
  }
}

@media only screen and (min-width: 893px) and (max-width: 1240px) {
  .main-content {
    width: 80%;
  }

  .illustration {
    width: 400px;
    height: 400px;
    margin-left: 10px;
  }

  .description-img {
    width: 300px;
    height: 450px;
    margin-left: auto;
  }

  .dashboard { margin-left: 20%; } .footer { position: fixed } .account-stats { margin-left: -50px; }
}